@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans JP;
    font-size: 16px;
}
.cv {
    display: flex;
}

.aside {
    color: rgb(255, 255, 255);
    background-color: rgb(55, 55, 236);
    padding-bottom: 300px;
}

.contacts {
    padding: 30px;
}


a {
    text-decoration: none;
    color: white;
}


img {
    height: 430px;
    width: auto;
}

main {
    text-align: center;
}
