@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans JP;
    font-size: 20px;
}
.cv {
    display: flex;
    justify-content: center;
    background-color: rgb(195, 201, 206);
}

section {
    padding: 20px 30px;
}

h2 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: ease-out  0.3s;
}

a:hover {
    transform: scale(1.1, 1.1);
}

ul {
    list-style-type: none;
}

li {
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.aside {
    color: rgb(255, 255, 255);
    background-color: rgb(55, 55, 236);
    padding-bottom: 150px;
    width: 348px;
}

.photo {
    height: 430px;
    width: auto;
}

.social-networks {
    display: flex;
}

.icons {
    border-radius: 50%;
    background-color: white;
}

.icons > a {
    display: flex;
}

.icons img {
    width: 100%;
}

.skills-ul {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    margin-bottom: 25px;
}

.click-icon {
    width: 20px;
    height: 25px;
    transform: rotate(-90deg);
    margin-left: 20px;
}

.scale {
    display: flex;
    /* background-color: red; */
    margin-left: 20px;
    align-items: center;
}

.scale > div {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    border-radius: 30%;
    background-color: white;
    border: 1px solid white;
    transition: 0.2s;
}

.scale > div:hover {
    transform: scale(1.2);
}

.eng div:nth-child(n+4) {
    background-color: transparent;
}

.de div:nth-child(n+2) {
    background-color: transparent;
}




.info {
    background-color: white;
    width: 900px;
    color: rgb(55, 55, 236);
    width: 600px;
}

.info h4 {
    font-weight: 600;
}

header {
    padding: 30px;
    padding-bottom: 10px;
}

header h4 {
    border-bottom: 2px solid  rgb(55, 55, 236);
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 20px;
    
}

